
   .shape-C{
      right:23%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
}
   /* colors */
   .yello-bg{background-color:  #f9bf3f !important; } 
   .green-bg{background-color: #2fa499 !important;}
   .red-bg{background-color: #ec5453 !important;}
   .purble-bg{background-color: #a84cb8!important;}
   .gray-bg{background-color: #4054b2!important;}
   .crickle{width: 20px; height: 28px;}